---
import { notices } from "../../../data/notices.js";
import { CardAreaPractica } from "../../React/Cards/CardAreaPractica.jsx";
import Back from "../ancors/back.astro";
import CardNotice from "../cards/CardNotice.astro";
interface Props {
  info: any;
}
const { info } = Astro.props;

const SECTION_ID = "#Areas-laborales";

const noticiasFiltradas = notices.filter(
  (notice) => notice.category == info.nombre
);
const shortNotices = noticiasFiltradas.slice(0, 2);
---

<section>
  <header
    style={`background: linear-gradient(0deg,var(--firstvalue) 0%,var(--secondvalue) 100%),url("${info.imagen}");
    background-repeat: no-repeat;
    background-size: cover;`}
  >
    <Back sectionID={`/${SECTION_ID}`} />
    <h3 transition:name={`title-${info.nombre}`}>
      {info.nombre}
    </h3>
    <h4>
      {info.titulo}
    </h4>
    <p>
      {info.subtitulo}
    </p>
  </header>
  <div class="practicasDepartamento-container">
    <div class="practicasDepartamento-container_list">
      <h4>Practias de Departamento:</h4>
      <ul>
        {
          info.practicasDepartamento?.map((practica: any) => {
            return <CardAreaPractica practica={practica} client:load />;
          })
        }
      </ul>
    </div>
    <div class="practicasDepartamento-container_notices">
      <h4>Noticias relacionadas</h4>
      {
        noticiasFiltradas.length == 0 ? (
          <>
            <p>No hay noticias para mostrar en este momento</p>
            <a href="/Noticias">ver noticias</a>
          </>
        ) : (
          <ul>
            {shortNotices?.map((notice) => {
              return (
                <li>
                  <CardNotice
                    id={notice.id}
                    category={notice.category}
                    date={notice.date}
                    images={notice.images}
                    synthesis={notice.synthesis}
                    title={notice.title}
                  />
                </li>
              );
            })}
            {noticiasFiltradas.length >= 1 && (
              <a
                href="/Noticias"
                class="button-slider"
                title="Ver todas las noticias"
              >
                <span> +</span>
              </a>
            )}
          </ul>
        )
      }
    </div>
  </div>
</section>

<style>
  section {
    min-height: 100vh;
  }

  section header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding-top: 3em;

    color: white;
  }

  section header h3 {
    font-size: 2.2em;
  }

  section header h4 {
    color: rgba(255, 255, 255, 0.8);
  }

  section header p {
    margin-block: 30px;
    font-weight: 100;
  }

  .practicasDepartamento-container,
  .practicasDepartamento-container_list {
    padding-inline: var(--paddingsection-inline);
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
  }

  .practicasDepartamento-container::after {
    content: "";
    height: 30px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -30px;
    left: 0;
  }

  .practicasDepartamento-container_list {
    padding: 0;
  }

  .practicasDepartamento-container ul {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0;
  }

  .practicasDepartamento-container_notices {
    padding: 0px;
  }

  .practicasDepartamento-container_notices h4 {
    margin-block: 20px;
  }

  .button-slider {
    display: block;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #797979cc;
  }

  @media (width > 700px) {
    section {
      width: 70%;
      margin: auto;
    }

    .practicasDepartamento-container::after {
      display: none;
    }

    .practicasDepartamento-container {
      display: grid;
      grid-template-columns: 40% 1fr;
      padding: 20px;
    }

    .practicasDepartamento-container_list {
      grid-column: 1 / 2;
    }

    .practicasDepartamento-container_notices {
      position: relative;
      grid-column: 2/3;
    }

    .practicasDepartamento-container_notices ul {
      position: relative;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 20px;
      height: 630px;
    }

    .practicasDepartamento-container_notices li {
      flex: 1;
    }

    .practicasDepartamento-container_notices h4 {
      margin-block: 0px;
    }

    .button-slider {
      position: absolute;
      top: 50%;
      right: -80px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #79797991;
      display: grid;
      place-content: center;
      box-shadow: none;
      transition: background-color 0.2s;
    }

    .no-hover {
      color: #79797991;
      transform: translateY(15px);
      font-size: 1em;
      transition: scale 0.2s;
    }

    .hover {
      color: #fff;
      transform: translateY(-10px);
      text-align: center;
      transition: scale 0.2s;
      font-size: 1.5em;
      scale: 0;
    }

    .button-slider:hover {
      background-color: #7979795d;
      border: none;
    }
  }
</style>
