---
import { notices } from "../../../data/notices.js";
import CardNotice from "../cards/CardNotice.astro";
import CTA01 from "../cards/CTA01.astro";
const newNotices = notices.reverse();
const shortNotices = newNotices.slice(0, 3);
---

<section id="Ultimas-noticias">
  <header>
    <h3>Ultimas noticias</h3>
  </header>
  <div class="notices-container">
    {
      shortNotices?.map((notice) => {
        return (
          <CardNotice
            id={notice.id}
            category={notice.category}
            date={notice.date}
            images={notice.images}
            synthesis={notice.synthesis}
            title={notice.title}
          />
        );
      })
    }

    {
      shortNotices.length % 2 != 0 && (
        <CTA01
          message="Ver más"
          url="/Noticias"
          image="../../../../../images/temp/notices/noticia-01.jpeg"
        />
      )
    }
  </div>
</section>

<style>
  section,
  .notices-container {
    padding-inline: var(--paddingsection-inline);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-bottom: 20px;
  }

  section > header {
    font-size: var(--subtitlesection);
    padding: var(--paddingsubtilteSection);
    border-bottom: 1px solid black;
  }

  @media (width >= 700px) {
    
    .notices-container {
      width: 60%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 1em;
    }

    section > header {
      font-size: var(--subtitlesection-desk);
      padding: var(--paddingsubtilteSection-desk);
    }
  }
</style>
