---
import { Arrow } from "../../../Icons/arrow";
import { team } from "../../../data/team.js";
import CTA01 from "../cards/CTA01.astro";
import CardTeam from "../cards/CardTeam.astro";
---

<section id="Equipo">
  <header>
    <h3>Nuestro equipo</h3>
  </header>
  <div class="cards-container">
    <ul>
      {
        team?.map(({ especialidades, images, nombre, presentacion, id }) => {
          const imagen = images[0];
          return (
            <CardTeam
              especialidad={especialidades}
              img={imagen}
              nombre={nombre}
              presentacion={presentacion}
              id={id}
            />
          );
        })
      }
      {
        team.length % 2 != 0 && (
            <CTA01 image="../../../../../images/temp/background-04.webp" message="Contactanos" url="#"/>
        )
      }
    </ul>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-inline: var(--paddingsection-inline);
    margin-bottom: 10px;
  }

  header h3 {
    font-size: var(--subtitlesection);
    padding: var(--paddingsubtilteSection);
    border-bottom: 1px solid black;
  }


  @media (width > 700px) {
    header h3 {
      font-size: var(--subtitlesection-desk);
      padding: var(--paddingsubtilteSection-desk);
    }
    .cards-container ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      place-items: center;
      gap: 1em;
    }

  }
</style>
